.form-control {
  display: flex;
  justify-content: center;
}

.form-control form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
  width: 11%;
  border: 1px solid rgb(80, 143, 185);
  border-radius: 0.5rem;
  padding: 1rem;
}

.form-control input {
  width: 100%;
}

.form-control label {
  margin: 0;
}

.form-control button {
  vertical-align: middle;
  margin: auto;
  margin-top: 0.5rem;
  width: 4rem;
  border: 1px solid #1c6ea4;
  border-radius: 0.25rem;
}

.form-control button:hover {
  background-color: rgb(172, 250, 181);
}

.form-control button:active {
  background-color: rgb(113, 241, 130);
}

.error-msg {
  color: red;
}
