.background {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  position: fixed; /* Stay in place */
  z-index: 0; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0.3rem;
  border: 1px solid #888;
  width: 15%; /* Could be more or less, depending on screen size */
  height: 5%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  z-index: 1;
  border: 0.1rem solid #aaa;
  border-radius: 0.25rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  align-self: center;
  margin-left: 1rem;
  transition: all 0.1s;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.1);
}

p {
  align-self: center;
}
