.form-control {
  display: flex;
  flex-direction: column;
}

.textarea {
  resize: none;
}

.textarea:focus {
  outline: 0.1rem solid #1c6ea4;
}

.form-control button {
  vertical-align: middle;
  margin: auto;
  margin-top: 0.5rem;
  width: 4rem;
  border: 1px solid #1c6ea4;
  border-radius: 0.25rem;
}

.form-control button:hover {
  background-color: rgb(172, 250, 181);
}

.form-control button:active {
  background-color: rgb(110, 165, 117);
}

.form-control button:active {
  background-color: rgb(113, 241, 130);
}
