.form-control {
  display: flex;
  flex-direction: column;
}

button {
  margin: auto;
  margin-top: 0.3rem;
  width: 4rem;
  border: 1px solid #1c6ea4;
  border-radius: 0.25rem;
}

button:hover {
  background-color: rgb(172, 250, 181);
}

textarea {
  resize: none;
}

textarea:focus {
  outline: 0.1rem solid #1c6ea4;
}
