.container {
  display: flex;
  flex-wrap: wrap;
  margin: 1 rem;
  justify-content: center;
}

.todo {
  width: calc(20% - 1rem);
  margin: 1rem;
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-top: 2rem;
}
.swing span {
  display: block;
  padding: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.swing:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
