.list-item {
  display: flex;
  list-style: none;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
  flex-direction: column;
}

.buttons {
  display: inline-flex;
  justify-content: flex-end;
}

.todo {
  border-bottom: 0.1rem solid #1c6ea4;
}

.delete {
  margin-left: 0.5rem;
  cursor: default;
  transition: all 0.1s ease-in-out;
}

.delete:hover {
  color: red;
  transform: scale(1.1);
}

.edit {
  margin-left: 0.5rem;
  cursor: default;
  transition: all 0.1s ease-in-out;
}

.edit:hover {
  color: rgba(67, 65, 197, 0.61);
  transform: scale(1.1);
}

.completed {
  cursor: default;
  color: rgb(136, 178, 223);
  transition: all 0.1s ease-in-out;
}

.completed:hover {
  color: green;
  transform: scale(1.1);
}

.save-container {
  display: flex;
}

.saveEditedTodo {
  cursor: default;
  transition: all 0.1s;
}

.saveEditedTodo:hover {
  transform: scale(1.1);
}
